@{
    ViewData["Title"] = "Configuracion";
}

<div class="text-center">
    <h1 class="display-4">Configuration Index</h1>
    <p>Aquí tienen acceso solo los que tienen la política: Configuracion.</p>
</div>